APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

# Google Analytics API
GA_API_KEY=YOUR_GA_API_KEY
GA_CLIENT_ID=YOUR_GA_CLIENT_ID
GA_EMAIL_ADDRESS=YOUR_GA_EMAIL_ADDRESS
GA_CLIENT_SECRET=YOUR_GA_CLIENT_SECRET
GA_REDIRECT_URIS=YOUR_GA_REDIRECT_URIS
GA_JAVASCRIPT_ORIGINS=YOUR_GA_JAVASCRIPT_ORIGINS